body {background-color: rgb(74, 81, 99);}
.p1 {text-align: center;
    font-size: 300%;
    color: rgb(112, 31, 16);
    border-color: rgb(117, 20, 7);
    border-width: 15px;
    border-style: double;
    margin-left: 31%;
    margin-right: 31%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: black;
    
    }
    .p2 {text-align: left;
        font-size: 250%;
        color: rgb(27, 28, 87);
        border-color: rgb(41, 42, 97);
        border-width: 15px;
        border-style: groove;
        background-color: darkred;
        margin-right: 66%;
        padding-top: 1%;
        padding-bottom: 1%;
    
    }
    .p3 { text-align: right;
        font-size: 250%;
        color: rgb(109, 80, 17);
        border-color: rgb(134, 106, 13);
        border-width: 15px;
        border-style: solid;
    margin-left: 70%;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: chocolate;
    
    }
    .p4 {text-align: left;
        font-size: 250%;
        color: rgb(12, 111, 114);
        border-color: rgb(9, 117, 124);
        border-width: 15px;
        border-style: ridge;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-right: 66%;
        background-color: darkgreen;
    
    }
@media screen and ( max-width: 500xp ){
    
}.p5 {text-align: center;
    font-size: 300%;
    color: rgb(112, 31, 16);
    border-color: rgb(117, 20, 7);
    border-width: 15px;
    border-style: double;
    margin-left: 31%;
    margin-right: 31%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: black;
    
    }
    .p6 {text-align: left;
        font-size: 250%;
        color: rgb(27, 28, 87);
        border-color: rgb(41, 42, 97);
        border-width: 15px;
        border-style: groove;
        background-color: darkred;
        margin-right: 66%;
        padding-top: 1%;
        padding-bottom: 1%;
    
    }
    .p7 { text-align: right;
        font-size: 250%;
        color: rgb(109, 80, 17);
        border-color: rgb(134, 106, 13);
        border-width: 15px;
        border-style: solid;
    margin-left: 70%;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: chocolate;
    
    }
    .p8 {text-align: left;
        font-size: 250%;
        color: rgb(12, 111, 114);
        border-color: rgb(9, 117, 124);
        border-width: 15px;
        border-style: ridge;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-right: 66%;
        background-color: darkgreen;
    
    }